/* the dashboard css */
    * { box-sizing: border-box; font-family: 'Poppins', sans-serif; }

    body {
      margin: 0;
      background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
      color: #fff;
    }

    header { text-align:center; padding:40px 20px; }

    .container { max-width:1100px; margin:auto; padding:20px; }

    .toggle-buttons {
      display:flex; justify-content:center; gap:25px; margin:40px 0;
    }

    button {
      padding:16px 28px;
      border-radius:30px;
      border:none;
      cursor:pointer;
      background:rgba(255,255,255,0.15);
      color:#fff;
    }

    button.active {
      background: linear-gradient(135deg,#00c6ff,#0072ff);
    }

    .card {
      display:none;
      background:rgba(255,255,255,0.1);
      padding:35px;
      border-radius:20px;
    }

    .card.active { display:block; }

    input, select {
      width:100%;
      padding:14px;
      margin-bottom:16px;
      border-radius:12px;
      border:none;
    }

    .grid {
      display:grid;
      grid-template-columns:1fr 1fr;
      gap:10px;
    }

    .proceed-btn {
      width:100%;
      padding:16px;
      border-radius:30px;
      border:none;
      background:linear-gradient(135deg,#00f260,#0575e6);
      color:#fff;
      cursor:pointer;
      font-weight:600;
    }

    

    .badge {
      display:inline-block;
      margin-bottom:15px;
      padding:6px 14px;
      border-radius:20px;
      font-size:12px;
      background:linear-gradient(135deg,#ff512f,#dd2476);
    }

/* the charts css */
    .chart-container {
      width: 650px;
      margin-bottom: 40px;
      background-color: #fff;
    }
    #single,#batch{
      display:none
    }